version: "3.9"

services:
  auth-api:
    image: jaypalkoli/iam-service-backend:v1.2.0
    container_name: iam-service
    env_file:
      - .env-dev
    ports:
      - "8081:8081"
    restart: unless-stopped
