version: "3.9"

services:
  auth-api:
    image: jaypalkoli/iam-service-backend:v1.2
    container_name: iam-service
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: unless-stopped