server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: Auth-App-Backend
  profiles:
    active: dev
  management:
    metrics:
      export:
        prometheus:
          enabled: true
      tags:
        application: ${spring.application.name}
        environment: production
  logging:
    level:
      root: DEBUG